/SmolLM2-360M-Instruct-v1
/wandb
/SmolLM2-360M-Instruct-v1-model
/unsloth_compiled_cache
/Unsloth-SmolLM2-1.7B
/Unsloth-SmolLM2-360M
/Unsloth-SmolLM2-360M-Lora
/Unsloth-SmolLM2-360M-v2
/Unsloth-SmolLM2-1.7B-BKU
/Unsloth-SmolLM2-1.7B-BKU-GPT
/Unsloth-SmolLM2-1.7B-BKU-GPT-v2
/Unsloth-Mistral-7B-v0.3-BKU-GPT
/Unsloth-Llama-3B-v3.2-BKU-GPT-r32-qlora
/Unsloth-Llama-3B-v3.2-BKU-GPT
/SmolLM2-1.7B-bnb-4bit-R32-Bias-DO
/SmolLM2-1.7B-R32-Bias-DO
/Func Calling/unsloth_compiled_cache
/SmolLM2-1.7B-R32-Bias-DO-Emoji
/MyLLM/CrispyLLM_RoPE
/Crispy-915M-V4-Rope-NewTokenizer-JustLanguage
/hosmankarabulut
/Belgeler
_*/
*.csv
*.txt
*.xlsx
.env