/wandb
/unsloth_compiled_cache
/Func Calling/unsloth_compiled_cache
/Crispy-915M-V4-Rope-NewTokenizer-JustLanguage
/SmolLM2-1.7B-R32-Bias-DO-Emoji
/hosmankarabulut
/Belgeler
_*/
*.csv
*.txt
*.xlsx
.env